// Light Green - Primary Color Pallete
$light-green00: #62950b !default;
$light-green01: #85c021 !default;
$light-green02: #93d721 !default;
$light-green03: #b1ef48 !default;
$light-green04: #cbff72 !default;
$light-green05: #e8ffc1 !default;
$light-green06: #f4ffe2 !default;

// Light - Gradient Colot Pallete
$light-green-gradient: linear-gradient(90deg, #19bc67 0.03%, #abef39 100%);

// Light - Primary Color Pallete
$whitescale0: #fff !default;

// Grayscale - Neutral Color Pallete
$grayscale90: #242424 !default;
$grayscale80: #424242 !default;
$grayscale70: #636363 !default;
$grayscale60: #808080 !default;
$grayscale50: #a0a0a0 !default;
$grayscale40: #bebebe !default;
$grayscale40: #d3d3d3 !default;
$grayscale30: #d3d3d3 !default;
$grayscale20: #ececec !default;
$grayscale10: #f5f5f5 !default;
$grayscale11: #4f4f4f !default;
$grayscale12: #d9d9d9 !important;
$grayscale13: #f2f2f2 !important;
$grayscale14: #bdbdbd !important;
$grayscale15: #4f4f4f !important;
$grayscale16: #e0e0e0 !important;
$grayscale17: #f2f2f2 !important;
$grayscale18: #ededed !important;
$white: #ffffff !default;

// Dark Green - Secondary Color Pallete
$dark-green01: #006832 !default;
$dark-green02: #148148 !default;
$dark-green03: #46ae78 !default;
$dark-green04: #6fd6a0 !default;
$dark-green05: #8ceebb !default;
$dark-green06: #b3fcd6 !default;
$dark-green07: #e0ffef !default;
$dark-green08: #abef39 !default;
$dark-green09: #5ed451 !default;

// Semantic Color
$color-information: #1890ff !default;
$color-success: #51b322 !default;
$color-warning: #faad14 !default;
$color-error: #ff4d4f !default;
$color-form-error: #eb5757;

// button color
$color-disabled: #cccccc;

// Font color
$font-color-default: #202020;
$font-color-gray: #828282;

// border color
$color-border-gray: #e0e0e0;
$color-border-gray-2: #d7dbdb;
$color-border-gray-3: #f2f2f2;
$color-gray01: #607186;
