@font-face {
  font-family: "Carlito";
  src: url("../fonts/Carlito-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("../fonts/Carlito-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
